* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    place-items: center;
}

button {
    display: flex;
            justify-content: center;
            align-items: center;
}

.foto1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    place-items: center;
}

.box {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-img {
    border-radius: 50%;
    border: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box-hed {
    background-color: aliceblue;
    width: 120px;
    height: 22px;
}

.box-2 {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-2 h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box-2 h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}