* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../resource/img/bg.png') no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    place-items: center;
}

button {
    display: flex;
            justify-content: center;
            align-items: center;
}

.foto1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    place-items: center;
}

.box {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-img {
    border-radius: 50%;
    border: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box-hed {
    background-color: aliceblue;
    width: 120px;
    height: 22px;
    margin-left: 90%;
}

.box-2 {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-2 h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box-2 h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box-3 {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-3 h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box-3 h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.lenguajes-lista {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.lenguajes-lista li {
    width: calc(30% - 20px);
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.lenguajes-lista li:hover {
    transform: scale(1.05);
}

.lenguajes-lista h3 {
    font-size: 1.2em;
    color: #007BFF;
    margin-bottom: 8px;
}

.lenguajes-lista p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    margin: 0;
}

.box-4 {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-4 h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box-4 h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.box-5 {
    width: 500px;
    background: rgba(0, 0, 0, 4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-5 h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box-5 h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.proyectos {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.proyectos li {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.proyectos li:hover {
    transform: scale(1.05);
}

.proyectos h1 {
    font-size: 1.2em;
    color: #ffa600;
    margin-bottom: 8px;
}
.proyectos h2 {
    font-size: 1.2em;
    color: #0066ff;
    margin-bottom: 8px;
}

.proyectos p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    margin: 0;
}

.boton-descarga {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px;
    margin-top: 20px;
    display: block; 
    margin: 20px auto; 
}

.boton-descarga:hover {
    background-color: #45a049; 
}